<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886471264089-f20p9rah0t01d2n1t009hmt7jndli63p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886471264089-f20p9rah0t01d2n1t009hmt7jndli63p</string>
	<key>API_KEY</key>
	<string>AIzaSyDB7Oa5DK7yNqHDyuIcMpjKS8xcLSGDHKI</string>
	<key>GCM_SENDER_ID</key>
	<string>886471264089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patrickwulfe.sideboard</string>
	<key>PROJECT_ID</key>
	<string>sideboard-mtg</string>
	<key>STORAGE_BUCKET</key>
	<string>sideboard-mtg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886471264089:ios:a4028abb9e041ee4a52e48</string>
</dict>
</plist>